<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ash">
    <meta
            name="description"
            content="Website (SPA) construido para listar e consultar APIs de diversos tipos, construido com Flask e Python, por Ash">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme_dark.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_page.css') }}">

    <title>API List Consultor</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <section class="section container_body">
          <!-- Header Page -->
          <header class="header_content">
              <img width="100" height="100" src="https://img.icons8.com/clouds/100/api.png" alt="api"/>
              <h1 class="title namesite">
                List Consultor
              </h1>
          </header>

          <hr class="rowh">
          <!-- Content Section Page -->
          <div class="box is-align-self-flex-start area_content">
              <div class="area_options">
                  <p class="title total_apis">Total APIs: {{count}}</p>
              </div>
              <div class="area_api">
                  <div class="menu_content_apis">
                      <p class="menu_consult menu_name">Name</p>
                      <p class="menu_consult menu_description">Description</p>
                      <p class="menu_consult menu_link">Link</p>
                  </div>
                  <div class="content_consult">
                    <div class="column_name">
                      <ul class="list_names">
                          <!-- For Names -->
                          {% for name in names_api%}
                          <li class="rows_in_table text_in_rows">
                              <p class="text_content_api">{{ name }}</p>
                          </li>
                          {% endfor %}
                      </ul>
                    </div>
                    <div class="column_description">
                        <ul class="list_descriptions">
                            <!-- For Descriptions -->
                            {% for description in descriptions_api%}
                            <li class="rows_in_table text_in_rows">
                                <p class="text_content_api">{{ description }}</p>
                            </li>
                            {% endfor %}
                      </ul>
                    </div>
                    <div class="column_link">
                        <ul class="list_links">
                            <!-- For Links -->
                            {% for link in links_api%}
                            <li class="rows_in_table text_in_rows">
                                <a class="link_href text_content_api"
                                   href="{{ link }}"
                                   target="_blank">
                                    {{ link }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>
              </div>
          </div>
          <footer class="footer_page">
              <!-- Developer -->
            <a class="link_href font_data" href="https://github.com/CamiloCCarvalho" target="_blank">Developer Ash</a>

              <!-- License -->
              <a class="link_href font_data" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                  Copyright Free
                  <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
                  Attr 4.0 International
              </a>

              <!-- Data Font -->
            <a class="link_href font_data" href="https://api.publicapis.org/entries" target="_blank">Fonte utilizada.</a>
          </footer>
  </section>
</body>
</html>
